  
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
.navbar-nav  li  a:hover{
  color:red;
  background-color: #b3b3b3!important;
}
body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color:  #990000;
    background-color: #990000;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px; }
  .bg-1 { 
      background-color: #b3b3b3; /* Grey */
      color: #ffffff;
  }
.projects{
    background-color: #b3b3b3; /* Grey */
      color: #ffffff;
  font-size: 50px;
}
  .bg-2 { 
    font-size:50px;
      background-color: #990000; /* Dark Blue */
      color: #b3b3b3;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #990000; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }


  




#unity{
width:50%;
 
}

.text{
  color:  #b3b3b3 ;
}




.scratch{
    width: 100%;
    margin-bottom:-10px;

 ;
}


.unitydescrip{
  margin-top:-120px;
}

#projects{
  font-size=50px;
}

#scratch{
  width:50%;
}
.pic{
  height:40%;
   width:100%;
}







